src/main/mule/secondproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b7357294-a064-4cc5-af13-a6298311e880" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="secondprojectFlow" doc:id="1c9db2c1-5475-4df8-a664-2c4a4a59ab4f" >
		<http:listener doc:name="Listener" doc:id="bafb1f73-6643-41c3-af11-e805f700c03d" config-ref="HTTP_Listener_config" path="/ford"/>
		<set-payload value="#[how are u]" doc:name="Set Payload" doc:id="651fe5ab-e89d-4118-9cc7-3a90cc157b09" />
	</flow>
</mule>
